# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Flask Instance
instance/

# Environment Variables
.env

# Uploads & Exports
uploads/
exports/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store

# Pytest
.pytest_cache/